# Ignore virtual environments, tox files
**/venv/**
**/.idea/**
**/.vscode/**
**/.tox/**
**/codeEnv/**

# Ignore any .egg stuff
**/FlashPoint.egg*

# Ignore any .pyc files
**/.pyc/**

# Ignore pytest caches
**/.pytest*/**
**/__pycache__/**

# Ignore coverage reports
**/.coverage
**/htmlcov/**
