# Ignore virtual environments, tox files
**/venv/**
**/.idea/**
**/.vscode/**
**/.tox/**
**/codeEnv/**
# Ignore any .egg stuff
**/FlashPoint.egg*


**/profiles.json
**/save_games.json

# Ignore any .pyc files
**/.pyc/**

# Ignore pytest caches
**/.pytest*/**
**/__pycache__/**

# Ignore coverage reports
**/.coverage
**/htmlcov/**

# Ignore docs
**/docs/**

#ignore profiles.json
FlashPoint/src/media/profiles.json
FlashPoint/src/media/save_games.json

FlashPoint/src/media/saved_games\.json
